{% extends 'base.html.twig' %}

{% block title %}Test Acensi : Creer un student{% endblock %}

{% block body %}
    <main>
        <h2>Creer un Student</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}